/* колір тексту навігації та заголовків h3 #2E2F42 */
/* колір лого #4D5AE5 */
/* колір лого 2 #F4F4FD */
/* вторинний колір фона #F4F4FD */
/* колір h1 hero #FFFFFF */
/* вторинний колір текста #434455 */

/* style for index.html */
:root {
  --main-font-family: "Roboto", sans-serif;
  --primary-text-color: #2e2f42;
  --title-text-color: #434455;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f4f4fd;
  --accent-color: #4d5ae5;
  --btn-hover-color: #404bbf;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--title-text-color);
  font-family: var(--main-font-family);
}

.list {
  list-style: none;
}

.link,
.contacts-link,
.logo .span-logo {
  text-decoration: none;
}

/* logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.logo:hover .logo:focus {
  color: var(--accent-color);
}

.span-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.span-logo:hover .span-logo:focus {
  color: var(--accent-color);
}

.span-logo-footer {
  color: var(--secondary-bg-color);
}

/* hero */
.hero {
  background-color: var(--primary-text-color);
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--primary-bg-color);
}

/* button */
.button {
  font-family: inherit;
  cursor: pointer;
}
.button {
  font-family: var(--main-font-family);
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--btn-hover-color);
}

.button-secondary {
  color: var(--accent-color);
  background-color: var(--secondary-bg-color);
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
}

.button-secondary {
  cursor: pointer;
}

.button-secondary:hover,
.button-secondary:focus,
.button-secondary:active {
  background-color: var(--btn-hover-color);
  color: var(--primary-bg-color);
}

/* site nav */
.site-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--btn-hover-color);
}

/* contacts */

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.contacts-link:hover,
.contacts-link:focus,
.contacts-link:active {
  color: var(--btn-hover-color);
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
}

.section-title-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.employees {
  background-color: var(--primary-bg-color);
}

.text-our-team {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* features */

.feature-list .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

/* site-navigation */

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav:active,
.logo:active .logo .secondary:active {
  color: var(--accent-color);
}

/* footer */
.footer {
  background-color: var(--primary-text-color);
}
.text-footer {
  color: var(--primary-bg-color);
}
/* style for portfolio */
